body {
  font-family: verdana;
}

#navbar {
  padding: 30px 10px 0px 30px;
  background-color: #fff;
  border-bottom: 2px solid #0f1626;
  width: auto;
}

.nav {
  margin-top: 80px;
  float: right;
  overflow: auto;
  color: #4484CE;
}

#aboutme {
  width: auto;
  background-color: #f5f5f5;
  background-image: url("");
  background-size: cover;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  margin: 50px auto 30px auto;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
}

#aboutme h1 {
  color: #fff;
  background-color: #0f1626;
}

.content {
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px 50px 20px 50px;
}

#headshot {
  margin-right: 50px;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 50%;
  border: 20px solid #ff533d;
  float: left;
}

.box {
  height: 40px;
  width: 33%;
  margin-bottom: 40px;
}

#leftcolor {
  background-color: #ab987a
}

#centercolor {
  background-color: #0f1626;
}

#rightcolor {
  background-color: #ff533d;
}

#mywork {
  width: auto;
  background-color: #0f1626;
  background-image: url("");
  background-size: cover;
  padding-bottom: 20px;
}

#mywork h1 {
  color: #fff;
  background-color: #ab987a;
}
