body {
  font-family: verdana;
}

a {
  color: #ff533d;
  target:
}

a:visited {
  color: #ff533d;
}

a:hover {
  color: #aa533d;
  font-style: underline;
}

#navbar {
  opacity: .98;
  position: fixed;
  padding: 5px 10px 0px 30px;
  background: #fff;
  border-bottom: 2px solid #0f1626;
  width: 100%;
  z-index: 1000;
}

#navbar img {
  height: 100px;
}

.nav {
  font-size: 24px;
  margin-top: 20px;
  float: right;
  //overflow: auto;
  color: #4484CE;
}

.nav-pills > li > a:hover {
  color: #fff;
  background-color: #ff533d;
}

#aboutme {
  width: auto;
  background-color: #f5f5f5;
  background-image: url("");
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 100px;
}

#aboutme p {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin: 50px auto 30px auto;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
}

#aboutme h1 {
  color: #fff;
  background-color: #0f1626;
}

.content {
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px 50px 20px 50px;
  overflow: auto;
}

h4 {
  border-bottom: 2px solid #ab987a;
}

.right {
  text-align: right;
}

#headshot {
  margin-right: 50px;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 50%;
  border: 20px solid #ff533d;
  float: left;
}

#headshotbox {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  float: left;
}

.border {
  margin-bottom: 45px;
}

.box {
  height: 40px;
  width: 33%;
  margin-bottom: 0px;
}

#leather {
  background-color: #ab987a
}

#navy {
  background-color: #0f1626;
}

#coral {
  background-color: #ff533d;
}

#eggshell {
  background-color: #f5f5f5;
}

#mywork {
  width: auto;
  background-color: #0f1626;
  background-image: url("");
  background-size: cover;
  padding-bottom: 20px;
}

#mywork h1 {
  color: #fff;
  background-color: #ab987a;
}


#mywork img {
  margin: 25px 20px 50px 20px;
  border: 1px solid #0f1626;
  border-radius: 5px;
}

.projects {
  height: auto;
  background-color: #f5f5f5;
  border: 2px solid #ab987a;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  padding: 0px 15px 0px 15px;
  overflow: auto;
}

#contactme h1 {
  color: #fff;
  background-color: #ff533d;
}

#contactme img {
  float: right;
  width: 300px;
  margin: 25px 20px 50px 20px;
  border: 5px solid #0f1626;
  border-radius: 5px;
}

ol {
  font-size: 20px;
  margin-top: 50px;
}

.connect {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #0f1626
}

.important {
  font-size: 24px;
  color: #ab987a;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px 0px #0f1626;
}

@media screen and (min-width: 481px) {
  body {
    font-size: 16px;
  }
  #mywork img {
    float: left;
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 24px;
  }
  #mywork img {
    float: left;
    width: 200px;
  }
}
